bin/
obj/

*.zip

.vs/
.vscode/

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

packages/
*.nupkg
*.snupkg

*.log

TestResults/
*.trx

.DS_Store
Thumbs.db

.env
appsettings.Local.json
appsettings.*.Local.json

*.pfx
publish/